.container
  .row.justify-content-center
    .col-sm-5
      .simulation
        %header
          .row
            .col-2.pt-3.pl-4
              %i.fas.fa-camera.fa-2x
            .col-8
              = link_to destroy_user_session_path, method: :delete do
                = image_tag 'instagram_logo', class: 'logo-home'
            .col-2.pt-3.pr-4
              %i.far.fa-paper-plane.fa-2x
        .scrolleable
          .p-2.mt-3.mb-2
            .row.no-gutters
              .col-3.col-sm-2.text-center.mr-2
                = render partial: 'history_item', locals: { avatar:  current_user.avatar.url, add_icon: true, subtitle: nil}
              .col-3.col-sm-2.text-center.mr-2
                = render partial: 'history_item', locals: { avatar:  'ign', add_icon: false, subtitle: 'IGN'}
              .col-3.col-sm-2.text-center.mr-2
                = render partial: 'history_item', locals: { avatar:  '9gag', add_icon: false, subtitle: '9GAG'}
          .posts
            - @posts.each do |post|
              = render partial: 'post', locals: {post2: post}
        %footer
          .row.justify-content-between.py-3
            .col.text-center
              %i.fas.fa-home.fa-2x
            .col.text-center
              %i.fas.fa-search.fa-2x
            .col.text-center
              %i.far.fa-plus-square.fa-2x
            .col.text-center
              %i.far.fa-heart.fa-2x
            .col.text-center
              %i.far.fa-user.fa-2x
